body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#megaStore {
    margin: auto;
    background-color: #cccccc;
}

#myMenu {
    height: 40px;
}

.menu-item {
    height: auto;
    width: 76px;
    text-align: center;
    align-items: center;
    outline: none;
}

.header {
    width: 100%;
}

#primaryTextButton {
    margin: 8px;
}

#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
    /* Avoid cutout if font or line is bigger */
    font: inherit;
}

.k-listview-content {
    overflow: hidden;
}

.pokemonItem {
    float: left;
    position: relative;
    width: 111px;
    height: 170px;
    margin: 0 5px;
    padding: 0;
}

.pokemonItem img {
    width: 110px;
    height: 110px;
}

.pokemonItem h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 96px;
    overflow: hidden;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

.pokemonItem p {
    visibility: hidden;
}


.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header {
    border: none;
}

#loadMoreBtn {
    margin: auto;
    display: flex;
    padding: 10px 30px;
}

.pokemonItem {
    cursor: pointer;
    border-radius: 16px;
}

.pokemonItem h3 {
    width: 100%;
    padding: 0;
    text-align: center;
}

.pokemonItem:hover {
    background-color: #cccccc;
}