<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://kendo.cdn.telerik.com/themes/8.0.1/default/default-main.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2024.2.514/js/kendo.all.min.js"></script>
</head>
<body>
<div id="example">
    <h1 th:text="'Home Page'"></h1>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.email}"> Email </span></td>
        </tr>
        </tbody>
    </table>
    <label for="user">Selection</label><input id="user" value="1"/>
    <button id="add" style="margin: 20px 0 ">Add a new row</button>
    <div id="grid"></div>
    <script th:inline="javascript">
        var usersList = [[${users}]];
        var dataSource;
        $(document).ready(function () {

            dataSource = new kendo.data.DataSource({
                // data: usersList,

                transport: {
                    read: {
                        url: "http://localhost:8081/users",
                        type: "GET",
                        dataType: "odata"
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: {editable: false, nullable: true, type: "number"},
                            name: {type: "string"},
                            email: {type: "string"},
                            dob: {type: "date"},
                        }
                    }
                },
            })

            $("#add").kendoButton({
                themeColor: "success",
                click: function () {
                    var grid = $("#grid").data("kendoGrid");
                    grid.addRow();
                }
            });

            $("#grid").kendoGrid({
                editable: "popup",
                toolbar: ["save"],
                dataSource: dataSource,
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "name",
                    title: "Name",
                    template: "<p >#: name #</p>"

                }, {
                    field: "email",
                    title: "Email",
                    template: "<p >#: email #</p>"

                }
                    , {
                        field: "dob",
                        title: "Date of birth",
                        template: "<p >#: dob #</p>"

                    }, {command: "destroy", title: "&nbsp;", width: 120}
                ],
                saveChanges: function (e) {
                    if (!confirm("Are you sure you want to save all changes?")) {
                        this.dataSource.sync()
                        e.preventDefault();
                    }
                },
            }).data("kendoGrid");
            $("#user").kendoDropDownList({
                dataTextField: "name",
                dataValueField: "id",
                dataSource: usersList,
                index: 0,
            });
        });
    </script>
</div>
</body>
</html>