<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://kendo.cdn.telerik.com/themes/8.0.1/default/default-main.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2024.2.514/js/kendo.all.min.js"></script>
</head>
<body>
<div id="example">
    <h1 th:text="'Home Page'"></h1>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.email}"> Email </span></td>
        </tr>
        </tbody>
    </table>
    <label for="user">Selection</label><input id="user" value="1"/>
    <button id="add" style="margin: 20px 0 ">Add a new row</button>
    <button id="add-selected" style="margin: 20px 0 ">Add selected item</button>
    <div id="grid"></div>
    <script th:inline="javascript">
        $(document).ready(function () {
            showDropDownList(dataDropDown);
            showDataGrid(dataSource)
            showButton()
        });
        var dataSource = new kendo.data.DataSource({
            data: [[${users}]],
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {editable: false, nullable: true, type: "number"},
                        name: {type: "string"},
                        email: {type: "string"},
                        dob: {type: "date"},
                    }
                }
            },
        })

        var dataDropDown = new kendo.data.DataSource({
            data: [
                {name: "user1", email: "Lisboa"},
                {name: "user2", email: "Moscow"},
                {name: "user3", email: "Napoli"},
                {name: "user4", email: "Tokyo"},
                {name: "user5", email: "Oslo"},
                {name: "user6", email: "Paris"},
                {name: "user7", email: "Porto"},
                {name: "user8", email: "Rome"},
                {name: "user9", email: "Berlin"},
                {name: "user10", email: "Nice"},
                {name: "user11", email: "New York"},
                {name: "user12", email: "Sao Paulo"},
                {name: "user13", email: "Rio De Janeiro"},
                {name: "user14", email: "Venice"},
                {name: "user15", email: "Los Angeles"},
                {name: "user16", email: "Madrid"},
                {name: "user17", email: "Barcelona"},
                {name: "user18", email: "Prague"},
                {name: "user19", email: "Mexico City"},
                {name: "user20", email: "Buenos Aires"}
            ],
            sort: {field: "CityName", dir: "asc"}
        });

        function showDropDownList(data) {
            $("#user").kendoDropDownList({
                dataTextField: "email",
                dataValueField: "name",
                dataSource: data,
                index: 0,
            });
        }

        function showDataGrid(data) {
            $("#grid").kendoGrid({
                editable: "popup",
                dataSource: data,
                height: 550,
                groupable: true,
                selectable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "name",
                    title: "Name",

                }, {
                    field: "email",
                    title: "Email",

                }, {
                    field: "dob",
                    title: "Date of birth",
                    type: "date",
                    format: "{0:dd-MM-yyyy}"
                }, {template: "<button class='k-button' onclick='remove()'>Remove selected row</button>"}
                ],

            }).data("kendoGrid");
        }

        function remove() {
            var grid = $("#grid").data("kendoGrid");
            console.log(grid.dataItem(grid.select()))
            grid.removeRow(grid.select());
        }

        function showButton() {
            $("#add").kendoButton({
                themeColor: "success",
                click: function () {
                    var grid = $("#grid").data("kendoGrid");
                    grid.addRow();
                }
            });

            $("#add-selected").kendoButton({
                themeColor: "success",
                click: function () {
                    var newRow = {
                        email: $("#user").data("kendoDropDownList").text(),
                        name: $("#user").val(),
                        dob: new Date()
                    }
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.insert(0, newRow);
                    addNewUser(newRow)
                }
            });

        }

        function addNewUser(data) {
            $.ajax({
                type: "POST",
                url: "http://localhost:8081/users",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                },
            });
        }
    </script>
</div>
</body>
</html>